<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--th:text文本内容显示-->
<p th:text="${message}"></p>

<!--th:object声明一个对象-->
<div th:object="${user}" ></div>
<p th:text="${user.name}"></p>
<p th:text="${user.age}"></p>

<!--th:if和th:unless用于判断-->
<div th:if="${user.age > 18}">成年人</div>
<div th:unless="${user.age > 18}">未成年人</div>

<!--th:each用于遍历-->
<div th:each="user : ${userList}">
    <p th:text="${user.name}"></p>
    <p th:text="${user.age}"></p>
    </div>

<!--th:switch和th:case用于判断-->
<div th:switch="${user.name}">
    <p th:case="'admin'">管理员</p>
    <p th:case="*">普通权限</p>


</body>
</html>